@import url(https://fonts.googleapis.com/css2?family=Righteous&display=swap);

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, textarea, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-weight: 400;
    vertical-align: baseline;
    font-family: "微軟正黑體", "Lucida Grande", Arial, "Arial Narrow";
    font-size: 18px
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-weight: 400;
    vertical-align: baseline;
    font-family: 'Noto Serif TC', serif, "微軟正黑體", "Lucida Grande", Arial, "Arial Narrow";
    font-size: 87px
}

body {
    position: relative;
    color: #000;
    background: #f2f2f2;
}

body * {
    box-sizing: border-box
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

li, ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:after, blockquote:before, q:after, q:before {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

td, th {
    vertical-align: middle
}

a {
    outline: 0;
    color: #000;
    text-decoration: none;
    -webkit-backface-visibility: hidden
}

a:focus, a:hover {
    outline: 0;
    text-decoration: none
}

input:focus, select:focus, textarea:focus {
    outline: -webkit-focus-ring-color auto 0
}

img {
    max-width: 100%;
    display: block
}

.wrapper {
    overflow: hidden;
    position: relative
}

.fixedwidth, .midwidth {
    width: 1144px;
    margin: 0 auto
}

.event-inside {
    overflow: hidden
}

.event-inside .top-bar {
    margin: 20px 0
}

.event-inside .top-bar .chooseBar {
    overflow: hidden
}

.event-inside .top-bar .chooseBar li {
    float: left;
    width: calc(100% / 3);
    text-align: center
}

.event-inside .top-bar .chooseBar li a {
    display: block;
    text-align: center;
    font-family: Righteous, cursive;
    color: #ffffff;
    text-shadow: 1px 0 #9c9c9c, -1px 0 #9c9c9c, 0px 1px #9c9c9c, 0px -1px #9c9c9c;
    font-weight: 200;
    position: relative;
    padding: 20px 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

.event-inside .top-bar .chooseBar li a.router-link-exact-active {
    color: #9c9c9c;
    text-shadow: initial;
}

.event-inside .top-bar .chooseBar li a:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #d4d4d4;
    content: '';
    width: 0%;
    height: 1px;
    transition: 0.5s all linear;
    -webkit-transition: 0.5s all cubic-bezier(1, -0.04, 0.05, 1);
    -moz-transition: 0.5s all linear;
    -ms-transition: 0.5s all linear;
    -o-transition: 0.5s all linear;
}

.event-inside .top-bar .chooseBar li a.router-link-exact-active:after {
    width: 90%;
    left: 5%;
}

.contents {
    position: relative;
}
.mainCover{
    text-align: center;
    margin-bottom: 20px;
}
.mainCover p{
    text-align: center;
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    margin: 0 auto;
    box-shadow: 3px 4px 0 grey;
}
.mainCover p img{
    position: absolute;
    top: -20%;
}
.self-introduction {
    background-image: linear-gradient(to bottom, #a48bd6, #c788cc, #e286bb, #f589a8, #ff9094, #ff9a9e, #ffa5a8, #ffafb2, #fac0d1, #f2d2e6, #ede3f1, #f2f2f2);
    padding: 100px 0;
    background-image: linear-gradient(to bottom, #af9ac3, #bdb0d0, #cdc6dc, #dedbe7, #f1f1f1);
    background-image: url(profile-bg.svg);
    background-size: 100%;
    background-position:  50% 0;
    background-repeat: no-repeat;
}

.self-introduction .shortInfo {
    overflow: hidden;
}

.self-introduction .shortInfo h1 {
    text-align: center;
    font-size: 36px;
    color: #ffffff;
    text-shadow: 3px 4px 0 grey;
    font-weight: bold;
}

.self-introduction .shortInfo h2 {
    text-align: center;
    font-size: 18px;
    margin-top: 0;
    color: #808080;
}

.self-introduction .shortInfo ul {
    margin-top: 20px;
}

.self-introduction .shortInfo ul li {
    margin: 5px 0;
}

.self-introduction .shortInfo ul li p {
    text-align: center;
    font-size: 12px;
    color: #959595;
}

.worklist {
    overflow: hidden
}

.worklist .boz {
    float: left;
    width: 50%
}

.worklist .boz .cover {
    margin: 20px;
    margin-bottom: 0;
}

.worklist .boz .info {
    padding: 15px;
    margin: 0 20px 20px;
    background: #eaeaea87;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.worklist h3 b {
    font-size: 16px;
    font-weight: 700;
    color: #6e6e6e
}

.worklist .incharge {
    font-size: 12px;
    color: #9c9c9c
}

.worklist .incharge span, .worklist .date span {
    margin-right: 5px
}

.worklist .incharge i, .worklist .date i {
    font-size: 12px;
    color: #c58b51
}

.worklist .date i {
    color: #5175c5;
}

.worklist .date {
    font-size: 12px;
    color: #9c9c9c
}

.worklist .link {
    text-align: right
}

.worklist .link a {
    font-size: 12px;
    display: inline-block;
    background: #fff;
    padding: 3px 10px;
    border-radius: 15px;
    box-shadow: 0 0 5px #a1a1a1;
    color: #93729c;
    transition: linear .2s
}

.worklist .link a i {
    font-size: 12px
}

.worklist .link a:hover {
    background: #a276a8;
    color: #fff
}

.contents .midwidth {
    position: relative;
}

.bookmark {
    position: fixed;
    right: 20px;
    top: calc(50vh - 100px);
    width: 115px;
    display: none;
    z-index: 3;
}

.bookmark li {
    margin: 10px;
}

.bookmark li p {
    font-size: 16px;
    background: #fff;
    box-shadow: 0 0 5px #00000073;
    padding: 5px 15px;
    border-radius: 15px;
    color: #7e7e7e;
    cursor: pointer;
    transition: all linear 0.2s;
}

.bookmark li p:hover {
    background: #8ab7ce;
    color: #fff;
}

.gifbox {
    position: relative;
}

.gifbox #opendd, .gifbox .closegifplay {
    display: block;
    position: absolute;
    right: calc(30% - 20px);
    top: calc(34% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #698be2;
    box-shadow: 0 0 15px #0006;
    cursor: pointer;
}

.gifbox #opendd i, .gifbox .closegifplay i {
    font-size: 40px;
}

.gifbox .gifplay {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    background: #000;
    border-radius: 40px;
    box-shadow: 0 0 15px #000000ba;
    display: none;
}

.gifbox .closegifplay {
    text-align: center;
    background: #f8de57;
    display: none;
}

.gifbox #opendd {
    animation-name: btntbtn;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.11, -0.02, 0, 0.97);
    cursor: pointer;
}

@keyframes btntbtn {
    0% {
        transform: scale(1);
        box-shadow: 0 0 15px #0006;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    100% {
        transform: scale(1.5);
        box-shadow: 0 0 5px #0006;
        -webkit-transform: scale(1.5);
        -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
        -o-transform: scale(1.5);
    }
}

.partOfthese {
    padding: 50px;
}

.partOfthese>ul {}

.partOfthese>ul>li {}

.partOfthese>ul>li .bbox {
    overflow: hidden;
}

.partOfthese>ul>li .bbox h3 {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #876da2;
    font-style: italic;
}

.partOfthese>ul>li .bbox .indside {
    float: left;
    width: 33%;
}

.partOfthese>ul>li .bbox .indside ul {
    overflow: hidden;
}

.partOfthese>ul>li .bbox .indside ul>li {
    margin-bottom: 50px;
}

.partOfthese>ul>li .bbox .indside ul li h4 {
    font-size: 18px;
    color: #1c1c1c;
}
.partOfthese>ul>li .bbox .indside ul li h4 span{
    margin-right: 10px;
}
.partOfthese>ul>li .bbox .indside ul li h4 span i{
    color: #ce8f52;
}

.partOfthese>ul>li .bbox .indside ul li h5 {
    font-size: 14px;
    color: #767676;
}

.partOfthese>ul>li .bbox .indside ul li ol {
    margin-top: 10px;
    padding-left: 20px;
    border-left: 3px solid #c8b9d8;
}

.partOfthese>ul>li .bbox .indside ul li ol li {
    font-size: 14px;
    color: #a9a9a9;
}

.partOfthese>ul>li .bbox .indside.second {
    width: 67%;
}

.partOfthese>ul>li .bbox .indside.second ul {}

.partOfthese>ul>li .bbox .indside.second ul li {
    float: left;
    width: 50%;
}
.partOfthese>ul>li .bbox .indside.second ul li .pie{
    width: 90%;
}
@media screen and (max-width:1280px) {
    .fixedwidth, .midwidth {
        width: 900px
    }

}

@media screen and (min-width:1025px) {
    .platSet {
        display: none
    }
}

@media screen and (max-width:980px) {
    .fixedwidth, .midwidth {
        width: 95%
    }
    .partOfthese{
    padding: 40px 20px;
}
.self-introduction{
    background-size: cover;
}
}

@media screen and (max-width:768px) {
    .fixedwidth, .midwidth {
        width: calc(100% - 20px)
    }
    .partOfthese>ul>li .bbox .indside,.partOfthese>ul>li .bbox .indside.second{
    width: 100%;
}
    .partOfthese>ul>li .bbox .indside ul>li{
    float: left;
    width: 50%;
}
.bookmark{
    top: initial;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
}
.bookmark li{
    float: left;
    width: 25%;
    margin: 0;
}
    .bookmark li p{
    margin: 5px;
    padding: 5px 10px;
    text-align: center;
    font-size: 14px;
}
}

@media screen and (max-width:640px) {
    .informationcontent {
        width: 280px;
        left: calc(50% - 140px)
    }
    .partOfthese>ul>li .bbox h3{
    font-size: 20px;
}
    .partOfthese>ul>li .bbox .indside ul li h4{font-size: 16px;}
    .gifbox #opendd, .gifbox .closegifplay{
    right: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
}
    .gifbox #opendd i, .gifbox .closegifplay i{
    font-size: 30px;
}
.gifbox .gifplay{
    right: calc(50% - 130px);
    top: -50px;
    width: 260px;
}
}

@media screen and (max-width: 480px) {
    .fixedwidth, .midwidth {
        width: calc(100% - 10px)
    }
    .partOfthese>ul>li .bbox .indside ul>li,.partOfthese>ul>li .bbox .indside.second ul li,.partOfthese>ul>li .bbox .indside.second ul li .pie{width: 100%;}
    .self-introduction .shortInfo h1{font-size: 30px;}
    .event-inside .top-bar .chooseBar li a{
    font-size: 16px;
}
.worklist .boz .cover{
    margin: 15px 5px 0;
}
.worklist .boz .info{
    margin: 0 5px 10px;
}
.mainCover p{
    width: 120px;
    height: 120px;
}
}